<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd" id="WebApp_ID" version="5.0">
  <display-name>TechBlog</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>logout</servlet-name>
    <servlet-class>com.blog.servlets.LogoutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>logout</servlet-name>
    <url-pattern>/Logout</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EditServlet</display-name>
    <servlet-name>EditServlet</servlet-name>
    <servlet-class>com.blog.servlets.EditServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditServlet</servlet-name>
    <url-pattern>/EditServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CreatePostServlet</display-name>
    <servlet-name>CreatePostServlet</servlet-name>
    <servlet-class>com.blog.servlets.CreatePostServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CreatePostServlet</servlet-name>
    <url-pattern>/CreatePostServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LikeServlet</display-name>
    <servlet-name>LikeServlet</servlet-name>
    <servlet-class>com.blog.servlets.LikeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LikeServlet</servlet-name>
    <url-pattern>/LikeServlet</url-pattern>
  </servlet-mapping>
</web-app>